<form id="contactForm" [formGroup]="form">
    <label>Nombre: </label>
    <input placeholder="Introduce el nombre" formControlName="name" class="form-control"  name="name">


    <label>Categoría: </label>
    <input placeholder="Elige la categoría" list="datalistOptions" formControlName="category" class="form-control"  name="category">
    <datalist id="datalistOptions">
        <option value="Máquinas">
        <option value="Tintas">
        <option value="Agujas">
        <option value="Kits">
        <option value="Otros">
        </datalist>

    <label>Descripción: </label>
    <textarea rows="4" cols="50" placeholder="Introduce aquí la descripción" formControlName="description" class="form-control"  name="description"></textarea>


    <label >Precio: </label>
    <input placeholder="Introduce aquí el precio" formControlName="price" class="form-control"  name="price">

    <!-- Imagen falta -->

    <button id="btnAdd" type="submit" class="btn btn-dark" *ngIf="form.valid" (click)="addProduct()">Agregar</button>
</form>

<div class="container">
    <p>Buscar producto por id:</p>
    <input placeholder="Introduce id a buscar" formControlName="id" class="form-control"  name="id">
    <button id="btnSearch" type="button" class="btn btn-dark" (click)="getProduct()">Buscar</button>    
</div>