<form id="contactForm" [formGroup]="form">
    <label>Nombre: </label>
    <input placeholder="Introduce el nombre" class="form-control"  name="name"
    formControlName="name">
    
    <label for="Selection">Categoría: </label>
    <select id="Selection" placeholder="Introduce el nombre" class="form-control" formControlName="category">
        <option>Máquinas</option>
        <option>Tintas</option>
        <option>Agujas</option>
        <option>Kits</option>
        <option>Otros</option>
    </select>

    <label>Descripción: </label>
    <textarea rows="4" cols="50" placeholder="Introduce aquí la descripción" class="form-control"  name="description"
    formControlName="description"></textarea>


    <label>Precio: </label>
    <input placeholder="Introduce aquí el precio" class="form-control" name="price"
    formControlName="price">

    <label>Imagen: </label>
    <input placeholder="Introduce aquí el precio" class="form-control" name="price"
    formControlName="img">

    <button id="btnAdd" type="submit" class="btn btn-dark"
    [disabled]="form.invalid" (click)="addProduct()">Agregar</button>
</form>

<p>Buscar producto por id:</p>
<input placeholder="Introduce id a buscar" formControlName="id" class="form-control"  name="id">
<button id="btnSearch" type="button" class="btn btn-dark" (click)="getProduct()">Buscar</button>    
